body {
  background-color: #B8860B;
  display: flex;
  justify-content: center;
}

#plateau {
  width: 800px;
  height: 800px;
  border: 4px solid black;
  position: relative;
}

/* #foe {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: aqua;
  z-index: 1;
} */

#pion {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  background-image: url(img/player1.png);
  z-index: 10;
}
